blueprint (3).json
{
    "name": "Stoquart mail hook",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomMailHook",
            "version": 1,
            "parameters": {
                "hook": 513729,
                "maxResults": 2
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -189,
                    "y": 12
                },
                "restore": {
                    "hook": {
                        "label": "Stoquart LCX mailhook"
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook",
                        "label": "Mailhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "belazy:SynchronizeConnection",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1699417
            },
            "mapper": {
                "connectionId": "XuhvhZgUwAAB53Wl"
            },
            "metadata": {
                "designer": {
                    "x": 111,
                    "y": 12
                },
                "restore": {
                    "__IMTCONN__": {
                        "label": "Stoquart API key"
                    },
                    "connectionId": {
                        "mode": "chose",
                        "label": "LCX France"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "connectionId",
                        "type": "select",
                        "label": "Connection ID",
                        "required": true
                    }
                ]
            },
            "onerror": [
                {
                    "id": 3,
                    "module": "util:FunctionSleep",
                    "version": 1,
                    "parameters": {},
                    "mapper": {
                        "duration": "181"
                    },
                    "metadata": {
                        "designer": {
                            "x": 400,
                            "y": 150
                        },
                        "expect": [
                            {
                                "name": "duration",
                                "type": "uinteger",
                                "label": "Delay",
                                "required": true,
                                "validate": {
                                    "max": 300,
                                    "min": 1
                                }
                            }
                        ]
                    }
                },
                {
                    "id": 6,
                    "module": "belazy:SynchronizeConnection",
                    "version": 1,
                    "parameters": {
                        "__IMTCONN__": 1699417
                    },
                    "mapper": {
                        "connectionId": "XuhvhZgUwAAB53Wl"
                    },
                    "metadata": {
                        "designer": {
                            "x": 700,
                            "y": 150
                        },
                        "restore": {
                            "__IMTCONN__": {
                                "label": "Stoquart API key"
                            },
                            "connectionId": {
                                "mode": "chose",
                                "label": "LCX France"
                            }
                        },
                        "parameters": [
                            {
                                "name": "__IMTCONN__",
                                "type": "account",
                                "label": "Connection",
                                "required": true
                            }
                        ],
                        "expect": [
                            {
                                "name": "connectionId",
                                "type": "select",
                                "label": "Connection ID",
                                "required": true
                            }
                        ]
                    },
                    "onerror": [
                        {
                            "id": 13,
                            "module": "email:ActionSendEmail",
                            "version": 7,
                            "parameters": {
                                "account": 1420346,
                                "saveAfterSent": false
                            },
                            "mapper": {
                                "cc": [],
                                "to": [
                                    "lionbridge@stoquart.com"
                                ],
                                "bcc": [],
                                "from": "",
                                "html": "{{1.html}}",
                                "sender": "",
                                "headers": [],
                                "replyTo": "",
                                "subject": "IMPORTANT: {{1.subject}} - {{1.from.name}} - {{1.from.address}}",
                                "priority": "normal",
                                "inReplyTo": "",
                                "references": [],
                                "attachments": [
                                    {
                                        "cid": "",
                                        "data": "{{1.attachments}}",
                                        "fileName": "Attachment"
                                    }
                                ],
                                "contentType": "html"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1290,
                                    "y": 275
                                },
                                "restore": {
                                    "cc": {
                                        "mode": "chose",
                                        "items": []
                                    },
                                    "to": {
                                        "mode": "chose",
                                        "items": [
                                            "undefined"
                                        ]
                                    },
                                    "bcc": {
                                        "mode": "chose",
                                        "items": []
                                    },
                                    "folder": {
                                        "label": "Sent Mail"
                                    },
                                    "account": {
                                        "label": "BeLazy Google email storage (istvan.lengyel@belazy.cat)"
                                    },
                                    "headers": {
                                        "items": []
                                    },
                                    "priority": {
                                        "label": "Normal"
                                    },
                                    "references": {
                                        "mode": "chose",
                                        "items": []
                                    },
                                    "attachments": {
                                        "mode": "chose",
                                        "items": [
                                            "undefined"
                                        ]
                                    },
                                    "contentType": {
                                        "label": "HTML"
                                    },
                                    "saveAfterSent": {
                                        "label": "No"
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account",
                                        "label": "Connection",
                                        "required": true
                                    },
                                    {
                                        "name": "saveAfterSent",
                                        "type": "select",
                                        "label": "Save message after sending",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "to",
                                        "spec": {
                                            "name": "email",
                                            "type": "email",
                                            "label": "Email address",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "To",
                                        "labels": {
                                            "add": "Add a recipient",
                                            "edit": "Edit a recipient"
                                        },
                                        "required": true
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "contentType",
                                        "type": "select",
                                        "label": "Content Type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "html",
                                                "text"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": [
                                            {
                                                "name": "fileName",
                                                "type": "filename",
                                                "label": "File name",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "type": "buffer",
                                                "label": "Data",
                                                "required": true,
                                                "semantic": "file:data"
                                            },
                                            {
                                                "name": "cid",
                                                "type": "text",
                                                "label": "Content-ID"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Attachments",
                                        "labels": {
                                            "add": "Add an attachment",
                                            "edit": "Edit an attachment"
                                        }
                                    },
                                    {
                                        "name": "cc",
                                        "spec": {
                                            "name": "email",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Copy recipient",
                                        "labels": {
                                            "add": "Add a copy recipient",
                                            "edit": "Edit a copy recipient"
                                        }
                                    },
                                    {
                                        "name": "bcc",
                                        "spec": {
                                            "name": "email",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Blind copy recipient",
                                        "labels": {
                                            "add": "Add a blind copy recipient",
                                            "edit": "Edit a blind copy recipient"
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "text",
                                        "label": "From"
                                    },
                                    {
                                        "name": "sender",
                                        "type": "text",
                                        "label": "Sender"
                                    },
                                    {
                                        "name": "replyTo",
                                        "type": "text",
                                        "label": "Reply-To"
                                    },
                                    {
                                        "name": "inReplyTo",
                                        "type": "text",
                                        "label": "In-Reply-To"
                                    },
                                    {
                                        "name": "references",
                                        "spec": {
                                            "type": "text",
                                            "label": "Reference",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "References"
                                    },
                                    {
                                        "name": "priority",
                                        "type": "select",
                                        "label": "Priority",
                                        "validate": {
                                            "enum": [
                                                "high",
                                                "normal",
                                                "low"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "html",
                                        "type": "text",
                                        "label": "Content"
                                    }
                                ],
                                "advanced": true
                            },
                            "onerror": [
                                {
                                    "id": 14,
                                    "module": "builtin:Ignore",
                                    "version": 1,
                                    "metadata": {
                                        "designer": {
                                            "x": 1590,
                                            "y": 425
                                        }
                                    }
                                }
                            ]
                        },
                        {
                            "id": 7,
                            "module": "builtin:Ignore",
                            "version": 1,
                            "metadata": {
                                "designer": {
                                    "x": 1590,
                                    "y": 125
                                }
                            }
                        }
                    ]
                },
                {
                    "id": 11,
                    "module": "email:ActionSendEmail",
                    "version": 7,
                    "parameters": {
                        "account": 1420346,
                        "saveAfterSent": false
                    },
                    "mapper": {
                        "cc": [],
                        "to": [
                            "lionbridge@stoquart.com"
                        ],
                        "bcc": [],
                        "from": "",
                        "html": "{{1.html}}",
                        "sender": "",
                        "headers": [],
                        "replyTo": "",
                        "subject": "{{1.subject}} - {{1.from.name}} - {{1.from.address}}",
                        "priority": "normal",
                        "inReplyTo": "",
                        "references": [],
                        "attachments": [],
                        "contentType": "html"
                    },
                    "metadata": {
                        "designer": {
                            "x": 976,
                            "y": -17
                        },
                        "restore": {
                            "cc": {
                                "mode": "chose",
                                "items": []
                            },
                            "to": {
                                "mode": "chose",
                                "items": [
                                    "undefined"
                                ]
                            },
                            "bcc": {
                                "mode": "chose",
                                "items": []
                            },
                            "account": {
                                "label": "BeLazy Google email storage (istvan.lengyel@belazy.cat)"
                            },
                            "headers": {
                                "items": []
                            },
                            "priority": {
                                "label": "Normal"
                            },
                            "references": {
                                "mode": "chose",
                                "items": []
                            },
                            "attachments": {
                                "mode": "chose",
                                "items": []
                            },
                            "contentType": {
                                "label": "HTML"
                            },
                            "saveAfterSent": {
                                "label": "No"
                            }
                        },
                        "parameters": [
                            {
                                "name": "account",
                                "type": "account",
                                "label": "Connection",
                                "required": true
                            },
                            {
                                "name": "saveAfterSent",
                                "type": "select",
                                "label": "Save message after sending",
                                "required": true,
                                "validate": {
                                    "enum": [
                                        true,
                                        false
                                    ]
                                }
                            }
                        ],
                        "expect": [
                            {
                                "name": "to",
                                "spec": {
                                    "name": "email",
                                    "type": "email",
                                    "label": "Email address",
                                    "required": true
                                },
                                "type": "array",
                                "label": "To",
                                "labels": {
                                    "add": "Add a recipient",
                                    "edit": "Edit a recipient"
                                },
                                "required": true
                            },
                            {
                                "name": "subject",
                                "type": "text",
                                "label": "Subject"
                            },
                            {
                                "name": "contentType",
                                "type": "select",
                                "label": "Content Type",
                                "required": true,
                                "validate": {
                                    "enum": [
                                        "html",
                                        "text"
                                    ]
                                }
                            },
                            {
                                "name": "attachments",
                                "spec": [
                                    {
                                        "name": "fileName",
                                        "type": "filename",
                                        "label": "File name",
                                        "required": true,
                                        "semantic": "file:name"
                                    },
                                    {
                                        "name": "data",
                                        "type": "buffer",
                                        "label": "Data",
                                        "required": true,
                                        "semantic": "file:data"
                                    },
                                    {
                                        "name": "cid",
                                        "type": "text",
                                        "label": "Content-ID"
                                    }
                                ],
                                "type": "array",
                                "label": "Attachments",
                                "labels": {
                                    "add": "Add an attachment",
                                    "edit": "Edit an attachment"
                                }
                            },
                            {
                                "name": "cc",
                                "spec": {
                                    "name": "email",
                                    "type": "email",
                                    "label": "Email address"
                                },
                                "type": "array",
                                "label": "Copy recipient",
                                "labels": {
                                    "add": "Add a copy recipient",
                                    "edit": "Edit a copy recipient"
                                }
                            },
                            {
                                "name": "bcc",
                                "spec": {
                                    "name": "email",
                                    "type": "email",
                                    "label": "Email address"
                                },
                                "type": "array",
                                "label": "Blind copy recipient",
                                "labels": {
                                    "add": "Add a blind copy recipient",
                                    "edit": "Edit a blind copy recipient"
                                }
                            },
                            {
                                "name": "from",
                                "type": "text",
                                "label": "From"
                            },
                            {
                                "name": "sender",
                                "type": "text",
                                "label": "Sender"
                            },
                            {
                                "name": "replyTo",
                                "type": "text",
                                "label": "Reply-To"
                            },
                            {
                                "name": "inReplyTo",
                                "type": "text",
                                "label": "In-Reply-To"
                            },
                            {
                                "name": "references",
                                "spec": {
                                    "type": "text",
                                    "label": "Reference",
                                    "required": true
                                },
                                "type": "array",
                                "label": "References"
                            },
                            {
                                "name": "priority",
                                "type": "select",
                                "label": "Priority",
                                "validate": {
                                    "enum": [
                                        "high",
                                        "normal",
                                        "low"
                                    ]
                                }
                            },
                            {
                                "name": "headers",
                                "spec": [
                                    {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key",
                                        "required": true
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value",
                                        "required": true
                                    }
                                ],
                                "type": "array",
                                "label": "Headers"
                            },
                            {
                                "name": "html",
                                "type": "text",
                                "label": "Content"
                            }
                        ]
                    },
                    "onerror": [
                        {
                            "id": 12,
                            "module": "builtin:Ignore",
                            "version": 1,
                            "metadata": {
                                "designer": {
                                    "x": 1276,
                                    "y": -17
                                }
                            }
                        }
                    ]
                }
            ]
        },
        {
            "id": 8,
            "module": "email:ActionSendEmail",
            "version": 7,
            "parameters": {
                "account": 1420346,
                "saveAfterSent": false
            },
            "mapper": {
                "cc": [],
                "to": [
                    "lionbridge@stoquart.com"
                ],
                "bcc": [],
                "from": "",
                "html": "{{1.html}}",
                "sender": "",
                "headers": [],
                "replyTo": "",
                "subject": "{{1.subject}} - {{1.from.name}} - {{1.from.address}}",
                "priority": "normal",
                "inReplyTo": "",
                "references": [],
                "attachments": [],
                "contentType": "html"
            },
            "metadata": {
                "designer": {
                    "x": 426,
                    "y": -73
                },
                "restore": {
                    "cc": {
                        "mode": "chose",
                        "items": []
                    },
                    "to": {
                        "mode": "chose",
                        "items": [
                            "undefined"
                        ]
                    },
                    "bcc": {
                        "mode": "chose",
                        "items": []
                    },
                    "account": {
                        "label": "BeLazy Google email storage (istvan.lengyel@belazy.cat)"
                    },
                    "headers": {
                        "items": []
                    },
                    "priority": {
                        "label": "Normal"
                    },
                    "references": {
                        "mode": "chose",
                        "items": []
                    },
                    "attachments": {
                        "mode": "chose",
                        "items": []
                    },
                    "contentType": {
                        "label": "HTML"
                    },
                    "saveAfterSent": {
                        "label": "No"
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "saveAfterSent",
                        "type": "select",
                        "label": "Save message after sending",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "to",
                        "spec": {
                            "name": "email",
                            "type": "email",
                            "label": "Email address",
                            "required": true
                        },
                        "type": "array",
                        "label": "To",
                        "labels": {
                            "add": "Add a recipient",
                            "edit": "Edit a recipient"
                        },
                        "required": true
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Content Type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "html",
                                "text"
                            ]
                        }
                    },
                    {
                        "name": "attachments",
                        "spec": [
                            {
                                "name": "fileName",
                                "type": "filename",
                                "label": "File name",
                                "required": true,
                                "semantic": "file:name"
                            },
                            {
                                "name": "data",
                                "type": "buffer",
                                "label": "Data",
                                "required": true,
                                "semantic": "file:data"
                            },
                            {
                                "name": "cid",
                                "type": "text",
                                "label": "Content-ID"
                            }
                        ],
                        "type": "array",
                        "label": "Attachments",
                        "labels": {
                            "add": "Add an attachment",
                            "edit": "Edit an attachment"
                        }
                    },
                    {
                        "name": "cc",
                        "spec": {
                            "name": "email",
                            "type": "email",
                            "label": "Email address"
                        },
                        "type": "array",
                        "label": "Copy recipient",
                        "labels": {
                            "add": "Add a copy recipient",
                            "edit": "Edit a copy recipient"
                        }
                    },
                    {
                        "name": "bcc",
                        "spec": {
                            "name": "email",
                            "type": "email",
                            "label": "Email address"
                        },
                        "type": "array",
                        "label": "Blind copy recipient",
                        "labels": {
                            "add": "Add a blind copy recipient",
                            "edit": "Edit a blind copy recipient"
                        }
                    },
                    {
                        "name": "from",
                        "type": "text",
                        "label": "From"
                    },
                    {
                        "name": "sender",
                        "type": "text",
                        "label": "Sender"
                    },
                    {
                        "name": "replyTo",
                        "type": "text",
                        "label": "Reply-To"
                    },
                    {
                        "name": "inReplyTo",
                        "type": "text",
                        "label": "In-Reply-To"
                    },
                    {
                        "name": "references",
                        "spec": {
                            "type": "text",
                            "label": "Reference",
                            "required": true
                        },
                        "type": "array",
                        "label": "References"
                    },
                    {
                        "name": "priority",
                        "type": "select",
                        "label": "Priority",
                        "validate": {
                            "enum": [
                                "high",
                                "normal",
                                "low"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "html",
                        "type": "text",
                        "label": "Content"
                    }
                ]
            },
            "onerror": [
                {
                    "id": 10,
                    "module": "builtin:Ignore",
                    "version": 1,
                    "metadata": {
                        "designer": {
                            "x": 726,
                            "y": -73
                        }
                    }
                }
            ]
        }
    ],
    "metadata": {
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "shatter": false,
            "maxErrors": 3,
            "autoCommit": false,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.integromat.com"
    }
}